* {
  box-sizing: border-box;
}

html {
  font-size: clamp(47%, 1.5vw, 62.5%);
}

body {
  font-size: 1.6rem;
  font-family: "Mulish", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

/* Header */
.header.header--sticky {
  position: sticky;
  top: -1.5rem;
  z-index: 2;
  padding-top: 2rem;
  background-color: #ffffff;
}

.header__container {
  width: 140rem;
  max-width: calc(100% - 4.8rem);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-icon {
  display: none;
}

.header__logo {
  max-width: 12rem;
}

.header__logo img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.header__nav .header__nav-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.2rem;
  padding: 1rem 0;
}

.header__nav-item {
  padding: 0.9rem 1.2rem;
  font-size: 1.6rem;
}

.header__nav-item a {
  color: #000000;
  padding: 8px 12px;
}

.header__nav-item a:hover {
  color: #110c0c;
}

.header__search {
  position: relative;
}

.header__search .header__search-icon {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
  cursor: pointer;
}

.header__search-input {
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 1.5rem 1.2rem;
  width: 20rem;
}

.header__actions {
  display: flex;
  gap: 1.2rem;
}

.header__action-btn {
  border: none;
  background-color: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.8rem;
}

.header__action-icon {
  color: #000000;
  width: 1.8rem;
  height: 1.8rem;
}

.header__action-btn:hover {
  color: #221b1b;
}

/* Slider */
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 1.5rem;
}

.slider-container {
  display: flex;
  position: relative;
}

.slider-image-list {
  display: flex;
}

.slider-image-list picture {
  flex-shrink: 0; /* Đảm bảo mỗi ảnh chiếm đúng không gian của nó */
  width: 100%; /* Mỗi ảnh sẽ chiếm toàn bộ chiều rộng slider */
}

.slider-item {
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
  height: auto;
}

.slider-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn {
  font-size: 4rem;
  position: absolute;
  top: 50%;
  color: #999;
}

.btn:hover {
  color: #ffffff;
}

.btn-left {
  left: 2rem;
}

.btn-right {
  right: 2rem;
}

/* main */
main {
  max-width: calc(100% - 4.8rem);
  margin: 0 auto;
}

/* flash sale */

.flash-sale {
  margin: 4rem 0;
}

.flash-sale__container {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.flash-sale__title {
  color: #f2611c;
  font-size: 2.4rem;
  font-weight: 900;
}

.flash-sale__countdown {
  display: flex;
}

.flash-sale__time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.5rem;
  background-color: #262626;
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  color: #ffffff;
}

/* product */
.product-list {
  margin: 4rem 0;
  padding: 4rem 0;
  border-bottom: 1px solid #e6e6e6;
}

.product-list__header-title {
  font-size: 2rem;
  text-transform: uppercase;
  color: #252a2b;
  text-align: center;
  padding: 0 0 4rem 0;
}

.product-list__container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.product-list__item {
  flex: 1 1 22%;
  text-align: center;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  position: relative;
}

.product-list__item img {
  width: 100%;
  transition: all 0.3s ease;
  height: auto;
}

.product-list__tag {
  background-color: #f00;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 8px 10px 8px;
  text-align: center;
  line-height: 1;
  width: 5.9rem;
  position: absolute;
  top: 0;
  right: 0;
}

.product-list__tag::after {
  content: "";
  width: 0;
  height: 0;
  left: 0;
  bottom: -1rem;
  position: absolute;
  border-color: transparent #f00;
  border-style: solid;
  border-width: 0 30px 10px;
}

.product-list__item-content {
  margin: 1rem 0;
}

.product-list__item-name {
  font-size: 1.4rem;
  padding: 1rem;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
  color: #000000;
}

.product-list__item-price {
  color: #ed1c24;
  font-size: 2rem;
  font-weight: bold;
}

.product-list__item-price--color-black {
  color: #000000;
}

.product-list__progress {
  width: 100%;
  position: relative;
}

.product-list__progress-bar {
  width: 50%;
  background-color: #ffbda6;
  border-radius: 1rem;
  height: 1.9rem;
  position: relative;
  margin: 0 auto;
}

.product-list__progress-fill {
  background-color: #ed1c24;
  border-radius: 1rem;
  height: 100%;
  width: 0%;
  transition: width 0.3s ease-in-out;
}

.product-list__progress-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  color: #ffffff;
}

.product-list__variant-color {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
  margin: 1rem 0;
}

.product-list__variant-color-item {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid transparent;
}

.product-list__variant-color-item.active-variant {
  border: 2px solid #ccc;
  border-radius: 50%;
}

.product-list__variant-color-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-list__view-more {
  font-size: 1.4rem;
  margin-top: 4rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.product-list__view-more a {
  color: #000000;
}

/* Responsive */

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .product-list__item {
    flex: 1 1 48%; /* 2 sản phẩm mỗi dòng */
  }
}

@media (min-width: 768px) {
  .header__search-drawer {
    display: none;
  }
}

@media (max-width: 767.98px) {

}


@media (max-width: 991.98px) {
  /* html {
    font-size: clamp(50%, 2vw, 70%);
  } */

  /* Header */
  .header__menu-icon {
    display: block;
    font-size: 2.4rem;
    cursor: pointer;
  }

  .header__search-input,
  .header__nav {
    display: none;
    visibility: visible;
  }

  /* overlay */
  .header__overlay,
  .header__search-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: ease 0.3s;
  }

  .header__menu-checkbox:checked ~ .header__overlay,
  .search-checkbox:checked ~ .header__search-overlay {
    opacity: 1;
    visibility: visible;
  }

  .header__menu-drawer {
    position: fixed;
    background-color: rgb(255, 255, 255);
    inset: 0 20% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    padding: 2rem;
  }

  .header__search-drawer {
    position: fixed;
    background-color: rgb(255, 255, 255);
    inset: 0 0 0 20%;
    z-index: 2;
    transform: translateX(100%);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__menu-checkbox:checked ~ .header__menu-drawer,
  .search-checkbox:checked ~ .header__search-drawer {
    transform: translateX(0);
    transition: ease 0.3s;
  }

  .search-checkbox:checked ~ .header__search-drawer .header__search-input {
    display: block;
    width: 100%;
  }

  .menu-drawer__close {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
  }

  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #header__nav-list--mobile {
    margin-top: 25px;
  }

  #header__nav-list--mobile .header__nav-item a {
    display: block;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

@media (max-width: 424.98px) {
  html {
    font-size: clamp(60%, 2.5vw, 70%);
  }
}

@media (max-width: 374.98px) {
  .product-list__item {
    flex: 1 1 100%; /* 1 sản phẩm mỗi dòng */
  }
}
